body {
    background-color: #000000;
}



.header {
    background-color:#000000;
    z-index: 2;
}

.hero-image {
    position: relative;
    height:100vh;
    color:black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://picsum.photos/1600/500");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

